@using Cadeteria.ViewModels;
@model CadeteViewModel;
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tomás Consoli">
    <title>cargar Cadete</title>
</head>
<body>
    <header>
        <h1>Carga de Cadetes</h1>
    </header>
    <main>
        <form asp-controller="Cadeteria" asp-action="AltaCadete" method="POST">
            <label asp-for="@Model.Nombre">Nombre: </label>
            <input asp-for="@Model.Nombre" type="text" placeholder="Nombre">
            <label asp-for="@Model.Apellido">Apellido: </label>
            <input asp-for="@Model.Apellido" type="text" placeholder="Apellido">
            <label asp-for="@Model.Telefono">Telefono: </label>
            <input asp-for="@Model.Telefono" type="tel" placeholder="3811111111">
            <input type="submit" value="Cargar Cadete">
        </form>
    </main>
</body>
</html>
