@using Cadeteria.ViewModels;
@model PedidoViewModel;
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tomás Consoli">
    <link rel="stylesheet" href="">
    <title>Cargar Pedido</title>
</head>
<body>
    <header>
        <h1>Carga de Pedidos</h1>
    </header>
    <main>
        <form asp-controller="Cadeteria" asp-action="AltaPedido" method="POST">
            <label asp-for="@Model.NombreUsuario">Nombre: </label> 
            <input type="text" asp-for="@Model.NombreUsuario" placeholder="Nombre" required>
            <label asp-for="@Model.ApellidoUsuario">Apellido: </label> 
            <input type="text" asp-for="@Model.ApellidoUsuario" placeholder="Apellido" required>
            <label asp-for="@Model.TelefonoUsuario">Telefono: </label>  
            <input type="tel" asp-for="@Model.TelefonoUsuario" placeholder="3811111111" required>
            <label asp-for="@Model.Direccion">Direccion: </label> 
            <input type="text" asp-for="@Model.Direccion" placeholder="Av Mate de Luna 1234" required>
            <label asp-for="@Model.ApellidoUsuario">Datos extra de la Direccion: </label> 
            <textarea asp-for="@Model.ApellidoUsuario" cols="30" rows="10"></textarea>
            <input type="submit" value="Cargar Pedido">
        </form>
    </main>
</body>
</html>

@* nombre, direccion, telefono, datosDirec *@