@using Tp5Solution.ViewModels;
@model List<CadeteViewModel>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tomas Consoli">
    <link rel="stylesheet" href="~/css/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/css/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Listado cadetes</title>
</head>

<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var cadete in @Model)
                {
                    <tr>
                        <td>@cadete.Id</td>
                        <td>@cadete.Nombre</td>
                        <td>@cadete.Apellido</td>
                        <td>@cadete.Telefono</td>
                        <td><a asp-controller="Cadetes" asp-action="Delete" asp-route-id="@cadete.Id">Eliminar</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>

</html>
